<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Booking Approval</title>
</head>
<body>
  <h1>Booking Approval</h1>
  <p>Dear {{guestName}},</p>
  <p>We are pleased to inform you that your booking  has been approved.</p>
  <p>Here are the details of your booking:</p>
  <ul>
     <li><strong>Booking Number:</strong> {{bookingNumber}}</li>
    {{!-- <li><strong>Allotted Bed:</strong> {{allottedBed}}</li>
    <li><strong>Hostel:</strong> {{hostel}}</li> --}}
    <li><strong>Approval Date:</strong> {{approvalDate}}</li>
  </ul>
  <p>If you have any questions or need further assistance, please feel free to contact us.</p>
  <p>Best regards,</p>
  <p>The Hostel Team</p>
</body>
</html>
