<html>
  <head>
    <title>Check-in Confirmed</title>
  </head>
  <body>
    <h1>Check-in Confirmed</h1>
    <p>Dear {{name}},</p>
    <p>We are pleased to inform you that your check-in has been successfully
      confirmed.</p>
    <p>Booking Details:</p>
    <ul>
      <li><strong>User Number:</strong> {{userNumber}}</li>
      <li>Check-in Date: {{checkInDate}}</li>
      {{!-- <li>Room: {{room}}</li>
      <li>Bed: {{bed}}</li> --}}
    </ul>
    <p>You can log in to your account at
      <a href='https://oxtel.in'>oxtel.in</a>
      to get more information about your booking and stay.</p>
    <p>Thank you for choosing our service. We look forward to hosting you.</p>
    <p>Best regards,</p>
    <p>The Oxtel Team</p>
  </body>
</html>