<html>
  <head>
    <meta charset='UTF-8' />
    <title>{{subject}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Dear {{recipientName}},</p>
    <p>{{messageBody}}</p>
    <p>Best regards,</p>
    <p>{{senderName}}</p>
  </body>
</html>